@tailwind base;
@tailwind components;
@tailwind utilities;
.w-100{width: 300px;}
.rounded-md {
    border-radius: 0.375rem;
}

.bg-clr {
    background-color: #b53d3d;
}

.font-clr {
    color: white;
}

#card-errors {
    color: red;
}